/* Your styles here */
.blink_me {
    animation: blinker 2s linear infinite;
}

.blink_me:hover {
    animation: paused;
}

.blockchain {
    cursor : zoom-in;
}

.blockchain:hover {
    transform: scale(2);
    z-index: 999;
    background: black;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}